
		body {
			height: 560px;
			width: 377px;
		}

		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}

			50% {
				background-position: 100% 50%;
			}

			100% {
				background-position: 0% 50%;
			}
		}

		*,
		:after,
		:before {
			box-sizing: border-box;
		}

		*,
		:after,
		:before {
			box-sizing: border-box;
			border-width: 0;
			border-style: solid;
			border-color: #e5e7eb;
			border-top-width: 0px;
			border-right-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-top-style: solid;
			border-right-style: solid;
			border-bottom-style: solid;
			border-left-style: solid;
			border-top-color: rgb(229, 231, 235);
			border-right-color: rgb(229, 231, 235);
			border-bottom-color: rgb(229, 231, 235);
			border-left-color: rgb(229, 231, 235);
		}

		* {
			--tw-shadow: 0 0 #0000;
		}

		* {
			--tw-ring-inset: var(--tw-empty, );
			--tw-ring-offset-width: 0px;
			--tw-ring-offset-color: #fff;
			--tw-ring-color: rgba(59, 130, 246, 0.5);
			--tw-ring-offset-shadow: 0 0 #0000;
			--tw-ring-shadow: 0 0 #0000;
		}

		.app {
			height: 100vh;
		}


		:root {
			-moz-tab-size: 4;
			tab-size: 4;
		}

		:root {
			--base-500: #a0aec0;
			--base-200: #e2e8f0;
			--base-300: #e2e8f0;
			--base-400: #cbd5e0;
			--main-400: #7f9cf5;
			--main-200: #c3dafe;
			--main-100: #ebf4ff;
			--solid: #fff;
			--solid-900: #4a5568;
			--sidebar-bg: #edf2f7;
			--sidebar-color: #4a5568;
			--shadow: 0 10px 15px -3px rgba(36, 69, 101, 0.19), 0 4px 6px -2px #d0dce8;
			--shadow-active: 0 0 0 2px currentColor, 0 10px 15px -3px rgba(36, 69, 101, 0.19), 0 4px 6px -2px #d0dce8;
			--opener: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Cpath d='M3 12h18M3 6h18M3 18h18'/%3E%3C/svg%3E");
			--opener-active: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M19 12H5m7 7l-7-7 7-7'/%3E%3C/svg%3E");
		}

		.dark-mode,
		:root {
			--main-500: #6366f1;
		}

		.toolbar {
			background-color: #6366f1;
			background-color: var(--main-500);
			transition: padding .3s;
			padding: 0 16px;
			height: 64px;
			width: 392px;
			display: flex;
			align-items: center;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			transition-delay: 0s;
			transition-property: padding;
			padding-top: 0px;
			padding-right: 16px;
			padding-bottom: 0px;
			padding-left: 16px;
		}

		.app.has-sidebar .toolbar {
			padding: 0 16px 0 176px;
			padding-top: 0px;
			padding-right: 16px;
			padding-bottom: 0px;
			padding-left: 176px;
		}

		:-webkit-scrollbar,
		:-webkit-scrollbar-thumb,
		:-webkit-scrollbar-track {
			display: none;
		}

		button,
		input,
		optgroup,
		select,
		textarea {
			font-family: inherit;
			font-size: 100%;
			line-height: 1.15;
			margin: 0;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
		}

		button,
		select {
			text-transform: none;
		}

		[type="button"],
		[type="reset"],
		[type="submit"],
		button {
			-webkit-appearance: button;
			appearance: button;
		}

		button {
			background-color: transparent;
			background-image: none;
		}

		[role="button"],
		button {
			cursor: pointer;
		}

		button,
		input,
		optgroup,
		select,
		textarea {
			padding: 0;
			line-height: inherit;
			color: inherit;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
		}

		button {
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		button,
		button:focus {
			outline: 0;
			outline-color: initial;
			outline-style: initial;
			outline-width: 0px;
		}

		.opener {
			color: #fff;
			display: flex;
			align-items: center;
			font-weight: 600;
			flex-shrink: 0;
			position: relative;
			font-size: 30px;
			font-family: cursive;
		}



		.copy-the-block {
			border: 1px solid hsla(0, 0%, 100%, .4);
			padding: 0 12px;
			flex-shrink: 0;
			border-radius: 20px;
			margin-right: 14px;
			display: flex;
			font-weight: 600;
			align-items: center;
			color: #fff;
			height: 32px;
			overflow: hidden;
			position: relative;
			justify-content: center;
			width: 130px;
			text-align: center;
			font-size: 13px;
			transition: .3s;
			border-top-width: 1px;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-left-width: 1px;
			border-top-style: solid;
			border-right-style: solid;
			border-bottom-style: solid;
			border-left-style: solid;
			border-top-color: rgba(255, 255, 255, 0.4);
			border-right-color: rgba(255, 255, 255, 0.4);
			border-bottom-color: rgba(255, 255, 255, 0.4);
			border-left-color: rgba(255, 255, 255, 0.4);
			border-image-source: initial;
			border-image-slice: initial;
			border-image-width: initial;
			border-image-outset: initial;
			border-image-repeat: initial;
			padding-top: 0px;
			padding-right: 12px;
			padding-bottom: 0px;
			padding-left: 12px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 20px;
			overflow-x: hidden;
			overflow-y: hidden;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			transition-delay: 0s;
			transition-property: all;
		}

		:nth-child(2) {
			margin-left: auto;
		}

		.switcher {
			display: flex;
			padding: 0 10px;
			height: 32px;
			border-radius: 20px;
			background-color: #fff;
			align-items: center;
			margin-right: 16px;
			padding-top: 0px;
			padding-right: 10px;
			padding-bottom: 0px;
			padding-left: 10px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 20px;
		}

		.device {
			color: #fff;
			opacity: .3;
			transition: .3s;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			transition-delay: 0s;
			transition-property: all;
		}

		.device.is-active {
			opacity: 1;
		}

		.device+.device {
			margin-left: 8px;
		}

		.mode {
			border-radius: 30px;
			width: 145px;
			position: relative;
			height: 95px;
			flex-shrink: 0;
			margin-left: 175px;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
		}



		audio,
		canvas,
		embed,
		iframe,
		img,
		object,
		svg,
		video {
			display: block;
			vertical-align: middle;
		}

		svg {
			width: 100%;
		}

		.copy-the-block>svg {
			width: 16px;
			flex-shrink: 0;
			margin-right: 6px;
		}

		.bg-indigo-500 {
			--tw-bg-opacity: 1;
			background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
		}

		.theme-button {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
		}

		.theme-button.is-active {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='3' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
			background-size: 10px;
			content: "";
			background-repeat: no-repeat;
			background-size: 14px;
			background-position: 50%;
			background-repeat-x: no-repeat;
			background-repeat-y: no-repeat;
			background-position-x: 50%;
			background-position-y: center;
		}



		.device>svg {
			width: 24px;
		}

		img {
			position: absolute;
			display: block;
			margin: 0px;
			border: none;
			padding: 0px;
		}

		div {
			position: absolute;
		}

		#content-container {
			display: block;
			position: relative;
			width: 392px;
			margin-left: auto;
			margin-right: auto;
		}


		#page_frame_1_ek1 {
			top: 0px;
			left: 0px;
			width: 392px;
			height: 594px;
		}

		#_bg__frame_1_ek2 {
			opacity: 0.9;
			top: 0px;
			left: 0px;
			width: 392px;
			height: 594px;
			background: rgba(22, 22, 22, 1);
		}


		#vector {
			top: 0px;
			left: 121px;

			height: 498px;
		}


		#vector_ek1 {
			top: 203px;
			left: 0px;
			width: 394.31px;
			height: 391px;
		}


		#rectangle_1 {
			top: 189px;
			left: 25px;
			width: 162px;
			height: 106px;

		}


		#rectangle_2 {
			top: 189px;
			left: 216px;
			width: 162px;
			height: 106px;
		}


		#rectangle_3 {
			top: 343px;
			left: 25px;
			width: 162px;
			height: 106px;

		}


		#rectangle_4 {
			top: 343px;
			left: 216px;
			width: 162px;
			height: 106px;

		}

		a {
			position: relative;
			display: inline-block;
			padding: 1.2em 2em;
			text-decoration: none;
			text-align: center;
			cursor: pointer;
			user-select: none;
			color: white;
		}

		a::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: -0px;
			right: -0px;


			background: linear-gradient(135deg, #6e8efb, #a777e3);
			border-radius: 8.5px;
			transition: box-shadow 0.5s ease, transform 0.2s ease;
			will-change: transform;
			box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
			transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
		}

		a:hover::before {
			box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
		}

		a::after {
			position: relative;
			display: inline-block;
			content: attr(data-title);


			font-size: 30px;
			font-family: 'Helvetica Neue';

			transition: transform 0.2s ease;
			font-weight: bold;
			letter-spacing: 0.01em;
			will-change: transform;
			transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
		}