<div>
    <div class="grid no-margin">
        <div class="row padding20 align-center mrg-top-10">
            <h2>Oops! Something went wrong.</h2>
            <h5 class="text-light margint0">
                May be we're down for maintenance or this can be due to heavy traffic we're experiencing. Write us at <a href="mailto:hello@cybrhome.com" class="text-hover-underline">hello@cybrhome.com</a> if the problem persists.
            </h5>
            <img src="images/500.jpg" style="margin:20px 0;" width="300">
        </div>
    </div>
</div>
